<ul class="sidebar-menu" data-widget="tree">
    <li class="nav-devider"></li>
  {#   <li class="header nav-small-cap">MAIN</li>
    <li class="{{ controller=="dashboard"?'active' }} {{ controller }}">
        <a href="/dashboard">
            <i class="icon-home"></i> <span>Admin Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
    </li> #}





</ul>