<form action="" class="a-overview-search">
    <input class="form__input a-overview-search__input searchInput" type="text" placeholder="Search for pairs and tokens">
    <div class="searchElement" style="display: none">
        Start typing address or token name
    </div>
</form>
