.btn-app > .mdi, .btn-app > .em {
    font-size: 20px;
    /*display: block;*/
}

.btn-app > .mdi {
    margin: -5px -5px -7px -5px;
    display: block;
}

@media (min-width: 770px) {
    .hiddenOnDesktop {
        opacity: 0;
        pointer-events: none;
    }
}

.login-box {
    color: white;
    background: #252525 !important;
}

.login-box-body {
    color: white;
    background: #252525 !important;
}

.login-box input, .login-box select {
    color: white !important;
}

.login-box select option {
    background: #000;
}


.login-box input::placeholder, .login-box select::placeholder {
    color: #bababa !important;
}

.login-box a {
    color: #ebad44 !important;
}

.login-logo img {
    max-width: 70%;
}

@media (max-width: 770px) {
    .login-logo img {
        max-width: 80%;
    }

    .login-box {
        width: 85%;
    }
}

@media (max-width: 350px) {
    .login-box {
        width: 100%;
    }
}

.login-box .btn-info {
    background: none;
    border-color: #fbae1c;
}

.mobileLogo {
    max-height: 55px;
    height: auto;
    width: 50vw;
    filter: brightness(0.5);
}

@media (min-width: 470px) {
    .mobileLogo {
        width: 230px;
    }
}

@media (max-width: 304px) {
    .mobileLogo {
        width: 53px;
        height: 40px;
        object-fit: cover;
        object-position: left;
    }
}

@media (max-width: 625px) {
    .hiddenOnMobile {
        display: none;
    }
}

.loader {
    width: 90%;
    height: 100%;
    background: #e5e5e5cc;
    position: absolute;
    z-index: 10000;
    text-align: center;
    margin-top: -42px;
    margin-left: -20px;
}

@media (max-width: 765px) {
    .loader {
        width: 100%;
    }
}