{% extends layoutName %}

{% block head %}
    <meta property="og:image" content="/social.png">
{% endblock %}

{% block breadcrumbs %}
    {# <section class="content-header">
        <h1>
            Loading
            <small> </small>
        </h1>

    </section> #}
{% endblock %}

{% block content %}


    <h1>TonConnect.svoi.dev</h1>
    <h2>Multi wallet provider</h2>

    Docs and more: <a href="https://github.com/SVOIcom/ton-provider" target="_blank">https://github.com/SVOIcom/ton-provider</a>

    <script>
        if('{{ referral }}'.length !== 0) {
            localStorage.referral = '{{ referral }}';
        }
    </script>

{% endblock %}