{% extends layoutName %}

{% block breadcrumbs %}
    <section class="content-header">
        <h1>
            Loading
            <small> </small>
        </h1>

    </section>
{% endblock %}

{% block content %}

    <div id="content">

        Loading
    </div>


{% endblock %}