Удаленка.онлайн
<br>
Здравствуйте!
<br>
Компания {{ companyName }} приглашает вас присоединится к проекту <a href="//Удаленка.онлайн" target="_blank">Удаленка.онлайн</a> и прислала вам ссылку-приглашение.
<br>
Для регистрации используйте ссылку-приглашение: <a href="{{ url }}" target="_blank">{{ url }}</a>