Удаленка.онлайн
<br>
Вы запросили сброс пароля в сервисе <a href="//Удаленка.онлайн" target="_blank">Удаленка.онлайн</a>. <br>
Ваша ссылка сброса <a href="{{ url }}" target="_blank"> {{ url }}</a>
<br><br><b>Если это были не вы, рекомендуем вам срочно сменить пароль</b>